.text-13px {
    font-size: 13px;
}

.text-15px {
    font-size: 15px;
}

.text-color-xanh {
    color: #004f80;
}

.border-color-xanh {
    border: #004f80;
}

.bg-hong {
    background-color: #9f224e;
}

.bg-xanh-nhat {
    background-color: #0071a6;
}

.margin-t--20 {
    margin-top: -20px;
}

